@import "../../styles/config";

.btn {
  background-color: $btn-backgorund;
  color: $btn-text;
  border-radius: 10px;
  width: 204px;
  height: 49px;
  font-size: 14px;
  border: none;
  transition: background-color 0.3s;

  &:hover {
    cursor: pointer;
    background-color: #b10303;
  }
  &:active {
    background-color: #c40505;
  }
}
