@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import "./config";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  margin: 0 auto;
  min-width: 320px;
  background-color: $content-background;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
  margin: 0 auto;
}

.red {
  background-color: $btn-backgorund;
  color: #fff;
  border-radius: 10px;
}

.mainBtn {
  background-color: $btn-backgorund;
}
a {
  text-decoration: none;
  color: inherit;
}
