@import "../../styles/mixin.scss";
@import "../../styles/config";

.wrapper {
  height: 54vh;
  display: flex;
  @media (max-width: 420px) {
    height: 85vh;
    padding: 10px;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: $pagination-bullet-backgroundActive;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  @include flex(row, center);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.swiper-container {
  padding-bottom: 35px;
}
.swiper-pagination {
  text-align: left;
}

.swiper-wrapper {
  @include flex(row, space-between);
}

.mySwiper {
  button {
    position: relative;
    :global(.swiper-pagination) {
      position: absolute;
      bottom: -90px;
      left: calc(100% - 404px / 2);
    }
  }
  :global(.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal
      > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal) {
    display: flex;
    position: absolute;
    bottom: -8%;
    left: 10%;
  }
  :global(.swiper-wrapper--left) {
    @include flex(column, center);
    align-items: flex-start;
    width: 50%;
    @media (max-width: 1280px) {
      width: 100%;
    }
    height: 100%;
    gap: 30px;
    padding-left: 80px;
    padding-right: 100px;
    @media (max-width: 420px) {
      padding-left: 10px;
    }
    h3 {
      font-size: 56px;
      @media (max-width: 500px) {
        font-size: 40px;
      }
    }
    p {
      width: 60%;
      @media (max-width: 420px) {
        width: 75%;
      }
    }
  }

  :global(.swiper-wrapper--right) {
    @include flex(column, center);
    @media (max-width: 1280px) {
      display: none;
    }
    align-items: center;
    width: 50%;
    height: 100%;
    text-align: left;
    img {
      object-fit: cover;
    }
  }
  :global(.text-background) {
    background-color: #000;
    color: #fff;
  }

  :global(.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal
      > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal) {
    display: flex;
    position: absolute;
    bottom: -90px;
    left: calc(100% - 204px / 2);
  }
  :global(.swiper-pagination-bullet) {
    background-color: $pagination-bullet-background;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    opacity: 1;
  }

  :global(.swiper-pagination-bullet-active) {
    background-color: #fff;
    outline: 2px solid black;
  }
}
